<div class="row">
<div id="main" class="span12">
<div class="row new-base">
<div class="span4">
<div class="left-side">
<div class="page-header">
<h1>Welcome</h1>
</div>
<p>Welcome to the internal N.S.F prototype of the Portfolio Explorer.</p>
<p>This tool provides users with information about Divisional and Program funding at NSF. Users can utilize Research Topics (based on Topic Modeling) to compare funding activity by different NSF entities.</p>
<p><strong>To begin, please choose a Division from the list to the right.</strong></p>
</div>
</div>
<div class="span8">
<div class="right-side">
<h2 class="margin-bottom5">Choose a Division</h2>
<% if @current_division %><p class="muted">Currently Selected: <%= @current_division %></p><% end %>
<%= form_tag '/division' do %>
<div id="loader"></div>
<table class="table table-striped table-bordered table-condensed" id="divisions_select_table">
</table>
<% end %>

</div>
</div>
</div>

</div>
</div>

<script type="text/Javascript">
App.views['Page'] = { el:"#main" };
</script>
